body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: black;
}

header {
    min-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    min-width: 1220px;
}

.section-1 {
    width: 100%;
    min-height: 1000px;
    height: 100vh;
    background: url("/images/Background1.jpg") center no-repeat;
    background-size: cover;
}

.logo {
    font-size: 30px;
    background: none;
    font-weight: 700;
    color: white;
    margin: 10px;
}

.nav {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 10px;
    transition: color 0.2s linear;
}

.nav-link:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.nav-link:hover {
    color: #fce38a;
}

.nav-link:hover:after {
    display: block;
}

.sec-1-title {
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: white
}

.sec-title {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.sec-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 75px auto 0;
}

.sec-top-title {
    font-size: 72px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 160px;
}

.sec-1-slider {
    margin: 50px 0 50px;
}

.slider-item {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    /*padding: 50px 0 50px;*/
}

.slider-item:before {
    content: '';
    display: block;
    min-width: 275px;
    height: 3px;
    background-color: white;
    margin: 75px auto 0;
}

.slider-item:hover:before {
    background-color: #f38181;
}

.bold-number {
    font-size: 22px;
    font-weight: 700;
}

.btn {
    padding: 10px 30px;
    background: none;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0;
    display: block;
    margin: 50px auto 0;
}

.section-2 {
    min-height: 750px;
}

.kaushan-scrip {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 90px;
}

.sec-2-p2 {
    font-size: 15px;
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.title:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}

.hover {
    padding-top: 80px;
    padding-bottom: 110px;
}

.hover-item {
    background-color: #95e1d3;
}

.hover-item:hover .hover-text {
    opacity: 1;
}

.hover-img {
    display: block;
    background: linear-gradient(#f38281, #fce38a);
    height: 100%;
    transition: opasity 0.2s linear;
    cursor: pointer;
}

.hover-img:hover img {
    opacity: 0.1;
}

.hover-img:hover .img-user {
    opacity: 1;
}

.hover-img:hover {
    transform: translate3d(-10px, -10px, 0)
}

.hover-text {
    width: 100%;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    top: 50%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}

.section-3 {
    min-height: 270px;
    background-color: #95e1d3;
}

.big-number {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

.sec-3-p {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.bloc-sec-3 {
    padding: 90px 0;
    border-left: #b5eae0 1px solid;
}

.bloc-sec-3-last {
    border-right: #b5eae0 1px solid;
    border-left: #b5eae0 1px solid;
    padding: 0;
}

.section-4 {
    min-height: 655px;
}

.section-4 .container .kaushan-scrip {
    padding-top: 110px;
}

.service-item {
    padding: 50px 0 50px 80px;
    width: 33.3%;
}

.service-img {
    top: 60px;
    left: 30px;
    z-index: 1;
}

.service-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-text {
    font-size: 15px;
    color: #999;
}

.line {
    border-bottom: #e5e5e5 1px solid;
}

.section-5 {
    width: 100%;
    min-height: 850px;
    background: url("/images/sec5/background.jpg") center no-repeat;
    background-size: cover;
}

.telephone {
    position: absolute;
    right: 210px;
    top: 465px;
}

.section-6 {
    padding-bottom: 120px;
}

.accordion {
    padding-left: 15px;
}

.service-block-6 {
    padding-top: 95px;
}

.accordion-item {
    border: #e5e5e5 1px solid;
    margin-bottom: 10px;
}

.accordion-item.active
.accordion-content {
    display: block;
}

.accordion-item.active
.accordion-header {
    border-bottom: #e5e5e5 1px solid;
}

.accordion-item.active
.accordion-header:after {
    transform: translateY(-50%);
    rotate: -45deg;
    margin-top: 5px;
}

.accordion-header {
    border-bottom: transparent 1px solid;
    padding: 15px 20px 15px 65px;
    cursor: pointer;
}

.accordion-header:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(50%);
    rotate: 135deg;
}

.accordion-content {
    padding: 15px 20px 0;
    font-size: 15px;
    color: #999999;
    font-style: italic;
    font-weight: 300;
    display: none;
}

.accordion-title {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.accordion-icon {
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.section-p {
    color: #b6b6b6;
    text-align: center;
}

.section-7 {
    background: #f8f8f8;
    padding-top: 70px;
    padding-bottom: 70px;
}

.sec-7:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 1;
    transform: translateY(50%);
    rotate: 225deg;
}

.sec-7:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 1;
    transform: translateY(50%);
    rotate: 45deg;
}

.sec-7-img {
    border: 3px #95e1d3 solid;
    padding: 40px;
    top: 50%;
    left: 110px;
    z-index: 1;
    transform: translateY(-50%);
}

.sec-7-content {
    font-size: 24px;
    color: #999999;
    font-style: italic;
    font-weight: 300;
    margin-left: 300px;
    margin-right: 105px;
}

.p-author {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: black;
}

.p-author:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.social-media-icons {
    background-color: #fce38a;
    border-right: 1px solid #f9bd87;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    padding: 15px;
    line-height: 1;
    width: 60px;
    height: 60px;

    transition: background-color 0.2s linear, color 0.2s linear;
}

.social-media-icons:last-child {
    border-right: 0;
}

.social-media-icons:hover {
    background-color: #f38181;
    color: white;
}

.card-info {
    margin-top: 20px;
    text-align: center;
}

.card-name {
    text-transform: uppercase;
    font-size: 14px;
}

.card-prof {
    font-size: 15px;
    color: #999999;
    font-style: italic;
}

.section-9 {
    min-height: 250px;
    background: #f8f8f8;
}

.our-works-photo {
    width: 100%;
}

.works-img {
    width: 100%;
    height: auto;
}

.works-item {
    display: block;
    background: linear-gradient(#f38281, #fce38a);
    transition: opasity 0.2s linear;
    cursor: pointer;
}

.works-item:hover img {
    opacity: 0.1;
}

.works-text-title {
    width: 100%;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}

.works-item:hover .works-text-title {
    opacity: 1;
}

.works-item:hover .img-icon {
    opacity: 1;
}

.img-icon {
    padding-bottom: 15px;
}

.works-text {
    font-size: 15px;
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    text-transform: none;
    padding-top: 10px;
}

.section-11 {
    background: #f8f8f8;
}

.sec-11:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 1;
    transform: translateY(50%);
    rotate: 225deg;
}

.sec-11:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 1;
    transform: translateY(50%);
    rotate: 45deg;
}

.sec-11-img {
    padding: 90px 25px 130px 70px;
}

.sec-11-content {
    font-size: 24px;
    color: #999999;
    font-style: italic;
    font-weight: 300;
    padding: 130px 70px 130px 0;
}

.section-12 {
    background-image: url("images/sec12/background-s-12.jpg");
    background-size: cover;
    padding-bottom: 120px;
}

.section-12 .container p.kaushan-scrip {
    padding-top: 120px;
}

.client-item {
    padding: 50px 20px 50px 160px;
    width: 50%;
}

.client-img {
    top: 60px;
    left: 30px;
    z-index: 1;
}

.client-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.client-prof {
    font-size: 14px;
    font-style: italic;
    color: #b6b6b6;
}

.client-prof:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 20px;
}

.client-text {
    font-size: 15px;
    color: #999;
}

.section-13 {
    margin-bottom: 120px;
}

.stories-img {
    margin-bottom: 15px;
}

.stories-title {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 17px;
    color: black;
}

.stories-title:hover {
    color: black;
    cursor: pointer;
}

.stories-text {
    font-size: 14px;
    color: #b6b6b6;
    border-bottom: 1px #e5e5e5 solid;
}

.stories-item {
    padding-right: 25px;
    margin-bottom: 15px;
}

.stories-item:last-child {
    padding-right: 0;
}

.date {
    padding: 20px 15px;
    background-color: #95e1d3;
    color: white;
    text-align: center;
    line-height: 1;

    top: 160px;
    left: -10px;
    z-index: 1;
}

.bold-date {
    font-weight: bold;
    font-size: 15px;
}

.month {
    font-style: italic;
    font-size: 14px;
}

.bottom-bloc {
    padding-top: 20px;
}

.views-comments {
    font-size: 14px;
    font-style: italic;
    color: #b3b3b3;
    margin-right: 20px;
}

.section-14 {
    background-image: url("images/sec14/bacgrounds14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.location-block {
    padding: 60px 0 60px 0;
}

.text-location {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f38181;
    padding: 20px 0 20px 0;
}

.text-location:hover {
    color: #f38181;
}

.location-block:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
}

footer {
    background: #f8f8f8;
}

.footer-bloc {
    padding-top: 75px;
    padding-bottom: 70px;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 15px;
}

.mogo-bloc {
    width: 35%
}

.mogo-title {
    font-size: 43px;
    font-weight: bold;
    color: #b6b6b6;
}

.mogo-text {
    font-size: 14px;
    color: #b1b1b1;
    padding-top: 25px;
}

.bold-number-mogo {
    font-size: 18px;
    font-weight: bold;
}

.mogo-followers {
    font-size: 14px;
    padding: 30px 0 20px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.icons-follow {
    text-decoration: none;
    color: #a4e5d9;
    font-size: 20px;
    line-height: 1;
    width: 35px;
    height: 35px;
    text-align: center;
}

.icons-follow:hover {
    color: #afffe8;
}

.follow-bloc {
    padding: 20px 0 20px;
}

.follow-text {
    font-size: 15px;
    font-style: italic;
    color: #b6b6b6;
    padding-right: 15px;
}

.email {
    font-size: 15px;
    font-style: italic;
    color: #e7e7e7;
    text-align: center;
    line-height: 1;
    padding: 15px 145px 15px 15px;
    background: white;
    border: 1px #e7e7e7 solid;
}

.subscribe {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1;
    background: #95e1d3;
    padding: 15px 30px;
    cursor: pointer;
}

.blogs-bloc{
    width: 35%;
    padding-left: 30px;
}
.footer-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px 0 20px;
}

.blog-text{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    line-height: 1;
}

.blog-text:hover{
    color: black;
}

.blog-text-bloc{
    padding: 20px 17px 0;
}

.blog-date{
    font-size: 14px;
    font-style: italic;
    color: #b6b6b6;
}

.inst-photo{
    padding-bottom: 5px;
}

.inst{
    padding-top: 30px;
}

.inst-link{
    padding-top: 25px;
}
.inst-link a{
    font-size: 14px;
    font-style: italic;
    color: #919191;
}

/*@media (min-width: 768px) and (max-width: 1024px) {*/
/*    .sec-top-title {*/
/*        font-size: 30px;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .sec-1-title {*/
/*        font-size: 70px;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .nav-link {*/
/*        margin: 0;*/
/*    }*/

/*    .section-1 {*/
/*        width: 100%;*/
/*        height: 100vh;*/
/*        background: url("/images/Background1.jpg") center no-repeat;*/
/*        background-size: cover;*/
/*    }*/

/*    .slider-item:before {*/
/*        width: 200px;*/
/*    }*/

/*}*/

/*@media (min-width: 425px) and (max-width: 767px) {*/
/*    .sec-top-title {*/
/*        font-size: 30px;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .sec-1-title {*/
/*        font-size: 60px;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .nav-link {*/
/*        margin: 0;*/
/*    }*/

/*    .slider-item:before {*/
/*        width: 150px;*/
/*    }*/

/*    .section-1 {*/
/*        width: 100%;*/
/*        height: 100vh;*/
/*        background: url("/images/Background1.jpg") center no-repeat;*/
/*        background-size: cover;*/
/*    }*/

/*    @media (min-width: 320px) and (max-width: 424px) {*/
/*        .sec-top-title {*/
/*            font-size: 25px;*/
/*            margin: 0 auto;*/
/*        }*/

/*        .sec-1-title {*/
/*            font-size: 35px;*/
/*            margin: 0 auto;*/
/*        }*/

/*        .nav-link {*/
/*            margin: 0;*/
/*            padding: 4px 8px;*/
/*        }*/

/*        .btn {*/
/*            padding: 5px 15px;*/
/*            border: 2px solid white;*/
/*        }*/

/*        .slider-item:before {*/
/*            width: 100px;*/
/*        }*/

/*        .section-1 {*/
/*            width: 100%;*/
/*            height: 100vh;*/
/*            background: url("/images/Background1.jpg") center no-repeat;*/
/*            background-size: cover;*/
/*        }*/
/*    }*/
/*}*/